/******************************First Page******************************/
#profilepic {
	width: 100px;
	height: 100px;
}
/******************************Second Page******************************/
#good {
	text-decoration: center;
	font-family: helvetica;
}

#bad {
	text-decoration: center;
}

#ugly {
	text-decoration: center;
}
/******************************Third Page******************************/